.macbook-pro {
    background-color: #ffffff;
    height: 982px;
    position: relative;
    width: 1512px;
}

.macbook-pro .overlap-group {
    height: 84px;
    left: 148px;
    position: absolute;
    top: 699px;
    width: 481px;
}

.macbook-pro .text-wrapper {
    color: #ffffff;
    font-family: "Karla-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 68px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 372px;
}

.macbook-pro .rectangle {
    background-color: #ececec;
    border-radius: 15px;
    height: 73px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 481px;
}

.macbook-pro .div {
    color: #00000078;
    font-family: "Karla-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 209px;
}

.macbook-pro .undraw-online {
    height: 591px;
    left: 873px;
    position: absolute;
    top: 391px;
    width: 639px;
}

.macbook-pro .text-wrapper-2 {
    color: #4a914d;
    font-family: "Karla-ExtraBold", Helvetica;
    font-size: 64px;
    font-weight: 800;
    left: 237px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 71px;
    width: 304px;
}

.macbook-pro .overlap {
    background-color: #ececec;
    border-radius: 15px;
    height: 73px;
    left: 148px;
    position: absolute;
    top: 246px;
    width: 481px;
}

.macbook-pro .text-wrapper-3 {
    color: #00000078;
    font-family: "Karla-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    width: 209px;
}

.macbook-pro .div-wrapper {
    background-color: #ececec;
    border-radius: 15px;
    height: 73px;
    left: 148px;
    position: absolute;
    top: 561px;
    width: 481px;
}

.macbook-pro .text-wrapper-4 {
    color: #00000078;
    font-family: "Karla-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 209px;
}

.macbook-pro .text-wrapper-5 {
    color: #000000;
    font-family: "Karla-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 148px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 194px;
    width: 170px;
}

.macbook-pro .text-wrapper-6 {
    color: #000000;
    font-family: "Karla-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 148px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 504px;
    width: 170px;
}

.macbook-pro .text-wrapper-7 {
    color: #000000;
    font-family: "Karla-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 148px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 650px;
    width: 170px;
}

.macbook-pro .overlap-2 {
    height: 73px;
    left: 148px;
    position: absolute;
    top: 398px;
    width: 481px;
}

.macbook-pro .rectangle-2 {
    background-color: #ececec;
    border-radius: 15px;
    height: 73px;
    left: 0;
    position: absolute;
    top: 0;
    width: 218px;
}

.macbook-pro .rectangle-3 {
    background-color: #ececec;
    border-radius: 15px;
    height: 73px;
    left: 240px;
    position: absolute;
    top: 0;
    width: 218px;
}

.macbook-pro .text-wrapper-8 {
    color: #00000078;
    font-family: "Karla-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 272px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    width: 209px;
}

.macbook-pro .text-wrapper-9 {
    color: #000000;
    font-family: "Karla-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 148px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
    width: 170px;
}

.macbook-pro .text-wrapper-10 {
    color: #000000;
    font-family: "Karla-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 388px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
    width: 170px;
}

.macbook-pro .overlap-3 {
    background-color: #4a914d;
    border-radius: 10px;
    height: 71px;
    left: 252px;
    position: absolute;
    top: 858px;
    width: 219px;
}

.macbook-pro .text-wrapper-11 {
    color: #f5f5f5;
    font-family: "Karla-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 58px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    white-space: nowrap;
    width: 158px;
}

.macbook-pro .already-have-an {
    color: transparent;
    font-family: "Karla-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 148px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 806px;
    white-space: nowrap;
    width: 406px;
}

.macbook-pro .span {
    color: #000000;
}

.macbook-pro .text-wrapper-12 {
    color: #6c63ff;
}
