 .overlap {
  height: 100%;
  width: 100%; 
}
/* title */
 .text-wrapper {
  color: #4a914d;
  font-family: "Lemon", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 894px;
}

/* picture of farmer  */
 .rectangle {
  height: 100%;
  right: 0px;
  object-fit: cover;
  position: absolute;
  width: 860px;
}

/* logo */
 .p {
  color: #abc3ac;
  font-family: "Karla", Helvetica;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  left: 5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 265px;
  width: 788px;
}
/* upper button green */
 .p-wrapper {
  background-color: #4a914d;
  border-radius: 40px;
  height: 165px;
  left: 5%;
  position: absolute;
  top: 50%;
  width: 460px;
  display:block;
}

 .text-wrapper-2 {
  color: #ffffff;
  font-family: "Karla", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 372px;
}
/* lower button yellow */
 .span {
  background-color: #e8d154;
  border-radius: 40px;
  height: 168px;
  left: 5%;
  position: absolute;
  top: 75%;
  width: 460px;
  display:block;
} 

 .text-wrapper-3 {
  color: #f5f5f5;
  font-family: "Karla", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 372px;
} 
