 .overlap {
  height: 100%;
  width: 100%; 
}
/* title */
 .text-wrapper {
  color: #4a914d;
  font-family: "Lemon", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 894px;
}

/* picture of farmer  */
 .rectangle {
  height: 100%;
  right: 0px;
  object-fit: cover;
  position: absolute;
  width: 860px;
}

/* motto */
 .p {
  color: #abc3ac;
  font-family: "Karla", Helvetica;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  left: 5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 265px;
  width: 788px;
}
/* upper button green */
 .p-wrapper {
  background-color: #4a914d;
  border-radius: 40px;
  height: 165px;
  left: 5%;
  position: absolute;
  top: 50%;
  width: 460px;
  display:block;
}

 .text-wrapper-2 {
  color: #ffffff;
  font-family: "Karla", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 372px;
  border: none;
}
/* lower button yellow */
 .span {
  background-color: #e8d154;
  border-radius: 40px;
  height: 168px;
  left: 5%;
  position: absolute;
  top: 75%;
  width: 460px;
  display:block;
} 

 .text-wrapper-3 {
  color: #f5f5f5;
  font-family: "Karla", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 372px;
} 

.farmer .text-wrapper {
  color: #ffffff;
  font-family: "Karla", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 372px;
}
/* green button for profile farmer */
.farmer .rectangle {
  background-color: #E9D154;
  border-radius: 40px;
  height: 15%;
  left: 5%;
  position: absolute;
  top: 80%;
  width: 40%;
}
/* second yellow button */
.farmer .rectangle-2 {
  background-color: #E9D154;
  border-radius: 40px;
  height: 15%;
  left: 50%;
  position: absolute;
  top: 80%;
  width: 40%;
}

.farmer .div {
  color: #ffffff;
  font-family: "Karla", Helvetica;
  font-size: 300%;
  font-weight: 500;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 523px;
}
.farmer .span {
  color: #ffffff;
  font-family: "Karla", Helvetica;
  font-size: 60px;
  font-weight: 500;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 523px;
  display:block;
}

.farmer .h-1 {
  color: #4a914d;
  font-family: "Karla", Helvetica;
  font-size: 55px;
  font-weight: 800;
  left: 148px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  width: 90%;
}

.farmer .overlap-group {
  background-color: #ececec;
  border-radius: 15px;
  height: 57px;
  left: 530px;
  position: absolute;
  top: 452px;
  width: 299px;
}

.farmer .text-wrapper-2 {
  color: #3a773c;
  font-family: "Karla", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 295px;
}

.farmer .text-wrapper-3 {
  color: #3a773c;
  font-family: "Karla", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 32%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 220px;
  white-space: nowrap;
  width: 358px;
}

.farmer .text-wrapper-4 {
  color: #80b282;
  font-family: "Karla", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 530px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 330px;
  white-space: nowrap;
  width: 422px;
}

.farmer .profile-photo {
  background-color: #97cf9a;
  border-radius: 137.5px/134px;
  height: 268px;
  left: 170px;
  position: absolute;
  top: 204px;
  width: 275px;
}

.farmer .overlap-group-2 {
  height: 268px;
  position: relative;
}

.farmer .ellipse {
  background-color: #3a773c;
  border-radius: 59.02px/55.58px;
  height: 111px;
  left: 79px;
  position: absolute;
  top: 54px;
  width: 118px;
}

.farmer .mask-group {
  height: 268px;
  left: 0;
  position: absolute;
  top: 0;
  width: 275px;
}

.farmer .p {
  color: #80b282;
  font-family: "Karla", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 529px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 378px;
  white-space: nowrap;
  width: 435px;
}

.farmer .city-country {
  color: #80b282;
  font-family: "Karla", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 529px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 288px;
  white-space: nowrap;
  width: 332px;
}

.farmer .text-wrapper-5 {
  color: #4a914d;
  font-family: "Lemon", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 964px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 65px;
  width: 443px;
}
